
body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #272424;
    background-color: #f0ebdb;
}

.container {
    margin: 0 5% 0 5%;
    padding: 0 10px 0 10px;
}

.navbar {
    border-radius: 0 0 0 0;
}
.jumbo {

    height: 140px;
    padding: 10px 10px 0px 10px;
    margin: 10px 10px 0px 10px;
}
#background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 203px;
    width: 100%;
    background-image: url("./newspaper-background.jpg");
    opacity: 0.40;
    filter: alpha(opacity=40);
    box-shadow:2px 2px 2px 2px #ebe4cc inset; 
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
}
h1 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    opacity: 1.0;
    
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 6px 0 6px 0;
    font-weight: bold;
    text-align: center;
}
.display-article {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    border-color: rgb(241, 241, 241);
    border-radius: 1px;
    border-width: 2px;
    border-style: solid;
    background-color: white;
    margin: 5px 0 10px 0;
    padding: 5px 5px 5px 5px;
    box-shadow:3px 3px 3px 3px #7a786f; 
}

.byline {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;   
    color: #646464
}
.summary {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.mainContent {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.col-sm-8 {
    padding-left: 0px;
}